body {
	margin:0;
	padding:0;
	color:#333;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:22px;
	background-color:#d6d6d6;
}
#main {
	margin:0 auto;
	width:960px;
	/*background-image:url(../images/main_bg.gif);*/	
	background-color:#FFF;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
h2 {
	font-size:25px;
	color:#333;
	font-family:Arial Narrow;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
/*#opac{background:url(../images/OA.jpg) center no-repeat; height:100px; width:220px;cursor:pointer;}*/
/*#opac:hover{background:url(../images/OA-copy.jpg) center no-repeat;}*/
/*#login{background:url(../images/LI.jpg) center no-repeat; height:100px; width:220px; cursor:pointer;}*/
/*#login:hover{background:url(../images/LI-copy.jpg) center no-repeat;}*/
a {
	color:#fffffe;
	text-decoration:underline;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}

.header_resize {
	margin:0 auto;
	padding:0 0 32px;
	width:960px;
}
.logo {
	width:100%
}
.logo .logo-img {margin:20px 0 10px 15px;}
.logo .social-icons, .footer_menu  .social-icons {display:inline-block; float:right; margin-top:5px;}
.logo .social-icons a, .footer_menu  .social-icons a {display:inline-block; width:35px; height:30px; background-image:url(../images/snicons.jpg)}
.twitter {background-position:-8px -7px;}
.youtube {background-position:-43px -7px;}
.facebook {background-position:-77px -7px;}
.linkedin {background-position:-113px -7px;}
.pintrest {background-position:-8px -46px;}
.digg {background-position:-43px -46px;}
.share {background-position:-77px -46px;}
.feed {background-position:-113px -46px;}
h1 {
	margin:0;
	padding:32px 0 0;
	font-size:50px;
	font-weight:normal;
	line-height:1.2em;
	text-transform:none;
}
h1 a, h1 a:hover {
	color:#1ca2ce;
	text-decoration:none;
}
h1 span {
	color:#fff;
}
h1 small {
	display:block;
	margin:-4px 0;
	padding-left:160px;
	font-size:20px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#0e1445;
}
.banner-wrapper {background:url(../images/banner-bg.png) scroll repeat-x; padding:45px 0; }
.banner-wrapper-eur {background:url(../images/eur-banner-bg.png) scroll repeat-x; padding:45px 0; }
.slider {
	padding:0; height:200px; overflow:hidden;
	}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin:0 auto;
	padding:68px 0 0;
	height:50px;
	float:right;
}
.menu_nav ul {
	list-style:none;
	padding:0;
	height:50px;
	float:left;
}
.menu_nav ul li {
	margin:0;
	padding:0 0 0 10px;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:17px 24px;
	font-size:11px;
	line-height:16px;
	font-weight:normal;
	color:#9f9f9f;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	background:#202020;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#114044;
	background:#fff;
}
.content {
	padding:0;
}
.content_resize {
	margin-bottom:40px;
	margin:0 auto;
	padding:18px 0;
	width:960px;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:left;
	width:660px;
}
.content .mainbar h2 {
	margin-bottom:0;
	padding-bottom:0;
	font-size:33px;
	line-height:1.2em;
}
.content .mainbar div.img {
	padding:12px 0 0;
	float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
	padding:0;
	background:#fff;
	border:1px solid #fffffe;
}
.content .mainbar .article {
	margin:0 0 16px;
	padding:0 0 0 20px;
}
.content .mainbar .post_content {
	width:440px;
}
.content .mainbar .post_content strong {
	color:#fffff;
}
.content .sidebar {
	padding:0;
	float:right;
	width:260px;
}
.content .sidebar .gadget {
	margin:0 0 12px;
	padding:8px 20px 24px;
}
.content .sidebar h2 {
	color:#fffff;
	text-transform:none;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:8px 0;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0;
}
ul.sb_menu li a {
	color:#28ecfa;
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
}
ul.ex_menu li a {
	font-weight:bold;
	color:#fffffe;
	text-decoration:none;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#fffffe;
	font-weight:bold;
	text-decoration:underline;
}
p.spec {
	padding:0 0 16px;
}
p.infopost {
	margin-bottom:8px;
	padding:0 0 8px;
	color:#114044;
}
p.infopost a {
	padding:0 2px;
	color:#114044;
	text-decoration:underline;
}
.content .mainbar a.com {
	margin:0;
	padding:2px 0;
	float:left;
	font-size:16px;
	line-height:22px;
	font-weight:normal;
	text-decoration:none;
	color:#fffff;
}
.content .mainbar a.com:hover {
	text-decoration:none;
}
.content .mainbar a.com span {
	font-weight:normal;
	color:#fffffe;
}
.content .mainbar a.rm {
	float:left;
	margin:0 16px 16px 0;
	padding:5px 16px 5px 0;
	font-size:16px;
	line-height:22px;
	font-weight:normal;
	text-transform:none;
	color:#fffffe;
	text-decoration:none;
	text-align:center;
	background:url(../images/readmore.gif) no-repeat right center;
}
.content p.pages {
	margin:0;
	padding:24px 0 24px 20px;
	font-size:11px;
	color:#28ecfa;
	text-align:left;
}
.content p.pages span, .content p.pages a {
	padding:8px 12px;
	text-decoration:none;
	background:#fffffe;
	border:1px solid #28ecfa;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#363636;
	border:1px solid #363636;
}
.content p.pages a {
	color:#6e6e6e;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	border-top:1px solid #21c3e1;
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
	color:#114044;
}
.fbg h2 {
	color:#fffffe;
	padding-bottom:24px;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	border:none;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:500px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#114044;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#fffffe;
	text-decoration:underline;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#fffffe;
	text-decoration:underline;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
	color:#fffffe;
}
ol {
	list-style:none;
}
ol li {
	margin-left:20px;
	clear:both;
	display: list-item;
       list-style: decimal;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	margin:0 0 12px;
	padding:0;
	float:left;
}
#formsearch {
	margin:0;
	padding:16px 20px;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:8px 6px;
	float:left;
	width:174px;
	font-size:12px;
	line-height:14px;
	color:#aeaeae;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
	/*background:#363636;*/
}
.footer_resize {
	margin:0 auto;
	padding:0 20px;
	width:920px;
	line-height:1.5em;
	color:#A5A5A5;
	background-color:#ffffff;
}
.footer_resize p {
	margin: 0px;
	padding:8px 0;
	line-height:normal;
	text-indent:inherit;
}
.footer_resize a {
	color:#28ecfa;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#28ecfa;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
.notice{text-align:left; font-size:9px;}
.copyright{text-align:center; font-size:9px;}
a {
	outline:none; color:#000099; text-decoration:none;
}
a:hover{
color:#0066CC; text-decoration:underline;
}
span.mandatory{color:#FF0000; font-weight:600;}
.inputbox{padding:4px;border-radius:3px;line-height:1.6em;margin-bottom:0;border:1px solid #d9d9d9;background-image:url(images/search-controls.png);width:60%;}
.button{background-image:none;background-color:transparent;border:none !important;padding:0;text-shadow:none;font-size:inherit;text-transform:inherit;color:#000000;display:table-cell;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-radius:0;line-height:inherit;padding:5px 10px; background-color:#74B6F7; cursor:pointer;}
.button:hover{color:#FFFFFF; background-color:#06327A}
.qs{color:blue; font-weight:bold;}
.ans{color:#000; font-weight:bold;}

.faq-close {background:url(../images/accordian.png) no-repeat scroll 0 0 !important; width:26px !important; height:25px !important; left: 3px !important; margin-top: -13px  !important;}
.faq-open {background:url(../images/accordian.png) no-repeat scroll 0 -25px !important; width:26px !important; height:25px !important; left: 3px !important; margin-top: -13px  !important;}
#accordion {margin:20px 20px 0 0 }
#accordion ol li {display:list-item; list-style:decimal;}

/*
Back to top button 
*/
#back-top {
	position: fixed;
	bottom: 30px;
	right:30px;
}
#back-top a {
	width: 50px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 50px;
	height: 50px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(../images/top.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}

.footer_menu{
	background: #FFFFFF;
	height: 40px;
	clear:both;
	border-top: 1px solid #DFE2EA;
	vertical-align: middle;
       text-align: right;
	font-size: 10px;
	padding: 5px;
	color: #0C438F;
	margin-top: 15px;
}
.footer_menu a{
	text-decoration:none;
	color: #0C438F;
}
.footer_menu ul.menu{
	list-style-type: none;
	display: inline-block;
	width: 550px;
}
.footer_menu ul.menu li{
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 10px;
}
.footer_menu .social-icons{
	margin-top: 0px;
}
.lang-select{
	float:right;
	width: 160px;
	margin: -57px 0px 0 0;
}

/*home page button */
.content-button{
	background:#000;
	/*width:960px;
	height:5px;*/
	margin:0 10px 5px 10px;
	
}
.left-button,.right-button{
	width:50%;
	float:left;
	/*background:#f4f5f6;*/
}
.btn-img{
 border:2px solid #dee3eb;	
 float:left;
 margin:10px;
}
.btn-main{
	width:290px;
	float:left;
	margin-top:10px;
}
.btn-title{
	font-size:18px;
	color:#495b91;
}
.btn-content{
	color:#333;
	
}
.more-link{
 color:#090;
 font-size:13px;
 display:block;
 margin:8px 0 20px 0;
}
.steps{
	margin-top:20px;
	margin-left:20px;
	}
#login_form a:hover{
	color:#fff;	
}	
.btn-content ul{
	margin-left:15px;	
}
#accordion h3{
	background:#bace21;
	border:1px solid #1f71d4;
	color:#000;
}
#accordion .ui-accordion-content-active{
	background:#1f71d4;
	color:#FFF;
	}
	
	
.pagination {
	margin:auto;
	margin-bottom:40px;
}

.pagination  ul{
	border:0; 
	margin:0; 
	padding:0;
}

.pagination li{
	border:0; margin:0; padding:0;
	font-size:11px;
	list-style:none;
	display: inline;
}
.pagination li a{
	background-color: #FFFFFF;
}
.pagination a{
	border:solid 1px #DDDDDD;
	margin-right:2px;
}
.pagination .previous-off, .pagination .next-off {
	color:#666666;
	--display:block;
	--float:left;
	display: inline-block;
	font-weight:bold;
	padding:3px 4px;
	opacity: 0.7;
	pointer-events: none;
}
.pagination .next a, .pagination .previous a {
	font-weight:bold;
	border:solid 1px #FFFFFF;
} 
.pagination .active{
	color:#ff0084;
	font-weight:bold;
	--display:block;
	--float:left;
	display: inline-block;
	padding:4px 6px;
	opacity: 0.7;
	pointer-events: none;
}
.pagination a:link, .pagination a:visited {
	color:#0063e3;
	--display:block;
	--float:left;
	display: inline-block;
	padding:3px 6px;
	text-decoration:none;
}
.pagination a:hover{	
	border:solid 1px #666666;
}
.tbl-brd {border-left:1px solid #666; border-top:1px solid #666}
.tbl-brd tr td{border-right:1px solid #666; border-bottom:1px solid #666; padding:6px;}